:root {
  --blue: #00a5e0;
  --black: #04080F;
  --green:   #71B48D;
  --white: #FCF7F8;
}

body {
  font-family: 'Lusitana', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: var(--blue);
}

.search {
  color: var(--white);
  background-color: var(--blue);
}